#projects-section{
    margin: 0;
    padding: 0;
}

.project{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 65em;
    height: 22.5em;
    margin: 1em auto 1em auto;
    background-color: white !important;
}

.project:nth-child(2n){
    flex-direction: row-reverse !important;
}

.project img{
    align-self: center;
    width: 50%;
    margin: 0 auto;
    max-height: 17.5em;
    border-radius: 1em;
    border: .1em solid lightgrey;
}

.close-project{
    display: none;
}

.display-project-btn{
    display: none;
}

.project-info{
    position: relative;
    top: 50%;
    min-width: 30em;
    transform: translateY(-50%);
    max-height: 17.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}