#projects-section{
    margin: 0;
    padding: 0;
}

main > section h2{
    text-align: center;
    font-size: 1.8em;
}

.project{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 65em;
    height: 22.5em;
    margin: 5.5em auto;
    background-color: white !important;
    transform: translateX(-150%);
}


.project:nth-child(2n){
    flex-direction: row-reverse !important;
}

.project-info{
    padding: 0;
}

.project-info > div{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-info > div > div{
    display: flex;
    flex-direction: column;
}

.project-info > div > div:nth-child(1){
    margin-bottom: 1.5em;
}

.project-info > div > div a{
    margin: .2em 0;
}

.project-info > div  a{
    color: black;
    padding: .4em 1.5em;
    border: .09em solid black;
}

.project-info > div  a:hover{
    color: white;
    background-color: black;
}

@keyframes showproject{
    from{
        transform: translateX(-150%);
    };

    to{
        transform: translateX(0);
    };
}

@-webkit-keyframes showproject{
    from{
        transform: translateX(-150%);
    };

    to{
        transform: translateX(0);
    };
}

.slide-project{
    transition: transform;
    transition-duration: .9s;
    transition-timing-function: ease-in;
    transform: translateX(0);
}

.unslide-project{
    animation-name: hide-project;
    animation-duration: .6s;
    animation-timing-function: ease-out;
    -webkit-animation-name: hide-project;
    -webkit-animation-duration: .6s;
    -webkit-animation-timing-function: linear;
    transform: translateX(-150%);
}

.project img{
    align-self: center;
    width: 50%;
    margin: 0 auto 0 0;
    max-height: 19.5em;
    border-radius: 1em;
    box-shadow: 1em 1em 1em lightgrey;
    border: .1em solid lightgrey;
}

.close-project{
    display: none;
}

.display-project-btn{
    display: none;
}

.project-info{
    position: relative;
    top: 50%;
    min-width: 30em;
    transform: translateY(-50%);
    max-height: 17.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding: 0 1em;
}

@media screen and (max-width: 1100px){
    main > section {
        height: auto;
    }

    main > section > h2{
        margin-bottom: 2em;
    }

    .project{
        flex-direction: column;
        width: 90%;
        height: auto !important;
        margin: 0 auto 5.5em auto;
    }

    .project:nth-child(2n){
        flex-direction: column !important;
    }

    .project-img{
        width: 70% !important;
        max-height: 23em;;
        margin: 0 auto !important;
    }

    .project-info{
        position: unset;
        padding: 0;
        margin: 0 auto;
        min-width: unset;
        height: auto;
        position: relative;
        top: unset;
        min-width: unset;
        transform: translateY(0);
        max-height: unset;
    }

    .project-info h3{
        text-align: center;
    }
}