#skills-section{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
}

.skill{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 33.33em;
    margin: 0;
    padding: 0;
}

.skill-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75em !important;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.skill div{
    width: 50em;
    margin: 0 auto;
}

.skill h2{
    font-size: 2.75em;
    margin: 0;
    padding: 0;
    text-shadow: -.07em .04em .05em rgb(6, 6, 30);
}

.skill p{
    width: 33.33em;
    margin: 1em auto 0 auto;
}

#html-skill{
    background-color: #E8D8C3;
    color: #2B2B2B;
}

#css-skill{
    background-color: #DBC6A5;
    color: #2D2D2D;
}

#node-skill{
    background-color: #B6A480;
    color: #202020;
}

#test-skill{
    background-color: #C9A181;
    color: #1C1C1C;
}

#api-skill{
    background-color: #D8B4A0;
    color: #2E2E2E;
}

#sql-skill{
    background-color: #D7A199;
    color: #212121;
}

#git-skill{
    background-color: #B78E91;
    color: #FAFAFA;
}

#heroku-skill{
    background-color: #C97B63;
    color: #FFFFFF;
}