#skills-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 1em 0 0 0;
    text-align: center;
}

#skills-section h2{
    margin-bottom: 4em;
}

#skills-section > section{
    width: 28em;
    min-height: 90vh;
    margin: 0 1em;
    padding: 0;
    border: .07em solid lightgrey;
    transform: scale(0);
    color: white;
    font-weight: bold;
}

#skills-section > section > div{
    position: relative;
    top: 0;
    left: 0;
    min-height: 100%;
    padding: 0 0 2em 0;
    backdrop-filter: blur(.25em);
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, .8));
}

#frontend-skills{
    background: url("../images/frontend.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#backend-skills{
    background: url("../images/backend.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#development-tools{
    background: url("../images/tools.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.pop{
    transition: transform;
    transition-duration: .8s;
    transition-timing-function: ease-in;
    transform: scale(1) !important;
}

.skill-header{
    height: 12em;
    margin: 0;
    padding: 0;
}

.fas-skill{
    font-size: 2.25em;
    margin: 1em 0 .5em 0;
    padding: 0;
}

.skill-header h2{
    margin: .5em 0 0 0;
    padding: 0;
}

#skills-section > section ul{
    margin: 0 0 3.5em 0;
    padding: 0;
}

#skills-section > section ul li {
    margin: 1em 0;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 900px){

    #skills-section{
        flex-direction: column;
    }

    #skills-section > section{
        width: 28em;
        max-width: 95%;
        min-height: auto;
        margin: 2em auto !important;
    }

    #skills-section h2{
        margin-bottom: 2em;
    }
    
    #skills-section > section:nth-child(2n){
        margin: 2em auto 2em auto;
    }
}